<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>


<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Create_at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= post.msg %></td>
        <td><%= post.created_at.to_formatted_s(:short) %></td>
        <td><%= link_to 'Edit', edit_post_path(post.id) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'User', "/edit2?id=#{@user.id}" %> 
<%= link_to 'Post', new_post_path %>
<br>
<%= link_to 'Log out', main_path %>